# Default is to create Relax-and-Recover rescue media as ISO image
# set OUTPUT to change that
# set BACKUP to activate an automated (backup and) restore of your data
# Possible configuration values can be found in /usr/share/rear/conf/default.conf
#
# This file (local.conf) is intended for manual configuration. For configuration
# through packages and other automated means we recommend creating a new
# file named site.conf next to this file and to leave the local.conf as it is.
# Our packages will never ship with a site.conf.

#PXE_RECOVER_MODE=unattended
AUTOEXCLUDE_MULTIPATH=n
BOOT_OVER_SAN=y
#REAR_INITRD_COMPRESSION=lzma
USER_INPUT_TIMEOUT=30

### write the rescue initramfs to USB and update the USB bootloader
OUTPUT=ISO

BACKUP=NETFS
BACKUP_OPTIONS="nfsvers=4,nolock"
BACKUP_URL={{ NETFS_SERVER_URL }}

USE_STATIC_NETWORKING=y
