# Default is to create Relax-and-Recover rescue media as ISO image
# set OUTPUT to change that
# set BACKUP to activate an automated (backup and) restore of your data
# Possible configuration values can be found in /usr/share/rear/conf/default.conf
#
# This file (local.conf) is intended for manual configuration. For configuration
# through packages and other automated means we recommend creating a new
# file named site.conf next to this file and to leave the local.conf as it is.
# Our packages will never ship with a site.conf.

#PXE_RECOVER_MODE=unattended
AUTOEXCLUDE_MULTIPATH=n
BOOT_OVER_SAN=y
REAR_INITRD_COMPRESSION=lzma
USER_INPUT_TIMEOUT=10
WAIT_SECS=10

### write the rescue initramfs to USB and update the USB bootloader
OUTPUT=PXE
OUTPUT_PREFIX_PXE=rear/$HOSTNAME
PXE_CONFIG_GRUB_STYLE=y
PXE_CONFIG_URL="nfs://{{ PXE_SERVER_IP }}/var/lib/tftpboot/boot/grub2/powerpc-ieee1275"
PXE_CREATE_LINKS=IP
PXE_REMOVE_OLD_LINKS=y
PXE_TFTP_URL="nfs://{{ PXE_SERVER_IP }}/var/lib/tftpboot"
OUTPUT_OPTIONS="nfsvers=4,nolock"

BACKUP=BORG
# rhel
COPY_AS_IS_BORG=( '/usr/lib64/python3.4*' '/usr/bin/python3*' '/usr/bin/pyvenv*' '/usr/lib/python3.4*' '/usr/lib64/libpython3*' "$BORG_KEYS_DIR" )
# ubuntu
COPY_AS_IS_BORG=( '/usr/lib*/python3*' '/usr/bin/python3*' '/usr/bin/pyvenv*' '/usr/lib/python3*' '/usr/lib64/libpython3*' "$BORG_KEYS_DIR" "/usr/lib/powerpc64le-linux-gnu*" )

BORGBACKUP_HOST="{{ BORG_SERVER_IP }}"
BORGBACKUP_USERNAME="{{ BORG_USER | default ('borg') }}"
BORGBACKUP_COMPRESSION="{{ BORG_COMPRESSION | default ('auto,zlib') }}"
BORGBACKUP_REPO="/home/borg/repos/${HOSTNAME}"
BORGBACKUP_UMASK="0022"
BORGBACKUP_ENC_TYPE="{{ BORG_ENC_TYOE | default ('repokey') }}"
#export BORG_KEYS_DIR="/root/.config/borg/keys"
#export BORG_PASSPHRASE="$(cat /root/.borg_passphrase)"
BORGBACKUP_PRUNE_HOURLY=5
BORGBACKUP_PRUNE_WEEKLY=4
BORGBACKUP_PRUNE_MONTHLY=4
export BORG_RELOCATED_REPO_ACCESS_IS_OK="yes"
export BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK="yes"
EXCLUDE_BACKUP=( ${EXCLUDE_BACKUP[@]} /root/.borg_passphrase )

USE_STATIC_NETWORKING=y
SSH_UNPROTECTED_PRIVATE_KEYS=yes
SSH_FILES=yes
## BEGIN ANSIBLE SLES12 SPECIFIC MANAGED BLOCK ##
